In [1]:
import csv
import pickle
import datetime

In [2]:
%matplotlib inline
%config InlineBackend.figure_formats = {'png','retina'}

In [3]:
data = pd.read_csv('data/data.csv')
data=data.iloc[:,1:]

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (6,7,8,10,12,13,14,15,18,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
new_order =  ['date', 'store_nbr', 'item_nbr', 'station_nbr', 'tmax', 'tmin',
       'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'sunrise',
       'sunset', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel',
       'avgspeed', 'resultspeed', 'resultdir', 'TS', 'GR', 'RA', 'DZ', 'SN',
       'SG', 'GS', 'PL', 'FG+', 'FG', 'BR', 'UP', 'HZ', 'FU', 'DU', 'SQ', 'FZ',
       'MI', 'PR', 'BC', 'BL', 'VC' , 'units' ]

In [5]:
data = data[new_order]

In [6]:
from sklearn.model_selection import train_test_split
X, y = data.iloc[:,:-1], data.units
X_train, X_testm, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [7]:
def fulldf(df):
    
    df.snowfall = df.snowfall.replace(["T","  T"],0.05)
    df.preciptotal = df.preciptotal.replace(["T","  T"],0.005)
    df.depart = pd.to_numeric(df.depart, errors='coerce')
    
    df = type_change_numeric(df,[ 'store_nbr', 'item_nbr', 'units', 'station_nbr', 'tmax', 'tmin',
       'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel',
       'avgspeed', 'resultspeed', 'resultdir' ])
    df['date'] = pd.to_datetime(df['date'])
    df["week_day_name"] = df['date'].dt.weekday_name
    df["day_of_year"] = df['date'].dt.dayofyear
    df["year"] = df['date'].dt.year
    
    
    
    for idx in range(5, 8):
        df.iloc[:,idx].fillna(df.groupby(["day_of_year","store_nbr"])[df.columns[idx]].\
                              transform('mean'), inplace=True)

    for idx in range(16, 23):
        df.iloc[:,idx].fillna(df.groupby(["day_of_year","store_nbr"])[df.columns[idx]].\
                              transform('mean'), inplace=True)
    add_depart1(df)
    
    return df

# for column in item37.columns:
#     item37[column].interpolate()

In [8]:
def itemdf(df, nbr):
    item_nbr = df[df.item_nbr == nbr]
    for idx in range(5, 8):
        item_nbr.iloc[:,idx].fillna(item_nbr.groupby(["day_of_year","store_nbr"])[item_nbr.columns[idx]].\
                          transform('mean'), inplace=True)
    
    for idx in range(16, 23):
        item_nbr.iloc[:,idx].fillna(item_nbr.groupby(["day_of_year","store_nbr"])[item_nbr.columns[idx]].\
                          transform('mean'), inplace=True)
    add_depart1(item_nbr)
    
    return item_nbr

In [9]:
def type_change_numeric(df, ls = []): 
    #ls에 있는 column name은 numeric형으로 바꾸지 않는다.
    cols = df.columns
    for i in cols:
        if i in ls:
            #df = df.replace(["M",None], '')
            df.snowfall = df.snowfall.replace(["T","  T"],0.05)
            df.preciptotal = df.preciptotal.replace(["T","  T"],0.005)
            df[i] = pd.to_numeric(df[i], errors='coerce')
        
    return df

#예시

# data = type_change_numeric(data,[ 'store_nbr', 'item_nbr', 'units', 'station_nbr', 'tmax', 'tmin',
#        'tavg', 'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'snowfall', 'preciptotal', 'stnpressure', 'sealevel',
#        'avgspeed', 'resultspeed', 'resultdir' ])

In [14]:
def add_depart1(x):
    x.depart.fillna(x.tavg - x.groupby(["day_of_year","store_nbr"])["tavg"].transform('mean'),inplace = True)
    x.depart = x.depart.round(2)
    return x.sort_values(["store_nbr","date","item_nbr"])

In [10]:
train = pd.concat([X_train, y_train] ,axis = 1)

In [11]:
train.head()

,date,store_nbr,item_nbr,station_nbr,tmax,tmin,tavg,depart,dewpoint,wetbulb,...,FU,DU,SQ,FZ,MI,PR,BC,BL,VC,units
258351,2012-03-11,39,36,8,70,55,M,M,48,53,...,False,False,False,False,False,False,False,False,False,14.0
96002,2014-10-05,8,59,4,87,62,75,1,62,66,...,False,False,False,False,False,False,False,False,False,1.0
217631,2013-10-02,17,71,20,89,74,82,M,69,72,...,False,False,False,False,False,False,False,False,False,0.0
12167,2012-08-04,6,45,14,109,80,95,12,60,72,...,False,False,False,False,False,False,False,False,False,66.0
203388,2014-07-29,25,9,13,81,57,69,M,55,59,...,False,False,False,False,False,False,False,False,False,0.0

In [12]:
train = train.sort_values(by=['date', 'store_nbr', 'item_nbr']).reset_index(drop= True)

In [15]:
df = fulldf(train)

In [16]:
item37 = df[df.item_nbr == 37]

In [17]:
item37 = item37.sort_values(by=['date', 'store_nbr', 'item_nbr']).reset_index(drop= True)

In [18]:
item37.tmax.fillna(item37.groupby(["day_of_year","store_nbr"])['tmax'].transform('mean'), inplace=True)

In [19]:
item37 = item37[item37.tmax.isnull() == False]
item37 = item37[item37.tmin.isnull() == False]
item37 = item37[item37.dewpoint.isnull() == False]
item37 = item37[item37.wetbulb.isnull() == False]
item37 = item37[item37.preciptotal.isnull() == False]

In [20]:
item37.isnull().any()

date             False
store_nbr        False
item_nbr         False
station_nbr      False
tmax             False
tmin             False
tavg             False
depart           False
dewpoint         False
wetbulb          False
heat              True
cool              True
sunrise           True
sunset            True
snowfall          True
preciptotal      False
stnpressure      False
sealevel         False
avgspeed         False
resultspeed      False
resultdir        False
TS               False
GR               False
RA               False
DZ               False
SN               False
SG               False
GS               False
PL               False
FG+              False
FG               False
BR               False
UP               False
HZ               False
FU               False
DU               False
SQ               False
FZ               False
MI               False
PR               False
BC               False
BL               False
VC               False
units            False
week_day_name    False
day_of_year      False
year             False
dtype: bool

In [ ]:
data.snowfall = data.snowfall.replace(["T","  T"],0.05)
data.preciptotal = data.preciptotal.replace(["T","  T"],0.005)
data.depart = pd.to_numeric(data.depart, errors='coerce')

In [ ]:
data['date'] = pd.to_datetime(data['date'])
#data['sunrise'] = pd.to_datetime(data['sunrise'], format='%H%M' , errors='coerce')
#data['sunset'] = pd.to_datetime(data['sunset'], format='%H%M' , errors='coerce')
#X_testm['date'] = pd.to_datetime(X_testm['date'] , errors='coerce')
#X_testm['sunrise'] = pd.to_datetime(X_testm['sunrise'], format='%H%M' , errors='coerce')
#X_testm['sunset'] = pd.to_datetime(X_testm['sunset'], format='%H%M' , errors='coerce')

In [ ]:
data["week_day_name"] = data.date.dt.weekday_name
data["day_of_year"] = data.date.dt.dayofyear
data["year"] = data.date.dt.year

In [ ]:
#data.tmax.fillna(data.groupby(["day_of_year","store_nbr"])['tmax'].transform('mean'), inplace=True)
data = data.replace(["M",None], '')

In [ ]:
for idx in range(5, 8):
    item37.iloc[:,idx].fillna(item37.groupby(["day_of_year","store_nbr"])[item37.columns[idx]].\
                              transform('mean'), inplace=True)

In [ ]:
for idx in range(16, 23):
    item37.iloc[:,idx].fillna(item37.groupby(["day_of_year","store_nbr"])[item37.columns[idx]].\
                              transform('mean'), inplace=True)

In [21]:
item37['weekend'] = False
item37.weekend[item37['week_day_name'] == 'Sunday'] = True
item37.weekend[item37['week_day_name'] == 'Saturday'] = True
item37.weekend[item37['week_day_name'] == 'Friday'] = True

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [ ]:
item37['reldate'] = 0
item37.reldate[ item37.date.dt.year == 2012] = item37.date.dt.dayofyear
item37.reldate[ item37.date.dt.year != 2012] = item37.date.dt.dayofyear + (item37.date.dt.year- 2012)*365 + 1

In [ ]:
item37.isnull().any()

In [ ]:
item37_df.head()

In [23]:
item37.columns

Index(['date', 'store_nbr', 'item_nbr', 'station_nbr', 'tmax', 'tmin', 'tavg',
       'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'sunrise', 'sunset',
       'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'avgspeed',
       'resultspeed', 'resultdir', 'TS', 'GR', 'RA', 'DZ', 'SN', 'SG', 'GS',
       'PL', 'FG+', 'FG', 'BR', 'UP', 'HZ', 'FU', 'DU', 'SQ', 'FZ', 'MI', 'PR',
       'BC', 'BL', 'VC', 'units', 'week_day_name', 'day_of_year', 'year',
       'weekend'],
      dtype='object')

In [24]:
item37.columns =['date', 'store_nbr', 'item_nbr', 'station_nbr', 'tmax', 'tmin', 'tavg',
       'depart', 'dewpoint', 'wetbulb', 'heat', 'cool', 'sunrise', 'sunset',
       'snowfall', 'preciptotal', 'stnpressure', 'sealevel', 'avgspeed',
       'resultspeed', 'resultdir', 'TS', 'GR', 'RA', 'DZ', 'SN', 'SG', 'GS',
       'PL', 'FG2', 'FG', 'BR', 'UP', 'HZ', 'FU', 'DU', 'SQ', 'FZ', 'MI', 'PR',
       'BC', 'BL', 'VC', 'units', 'week_day_name', 'day_of_year', 'year',
       'weekend']

#### OLS

In [26]:
model = sm.OLS.from_formula("units ~  C(store_nbr) + tmax + tmin + tavg + depart + dewpoint + wetbulb + snowfall + preciptotal + stnpressure + sealevel + avgspeed + resultspeed + resultdir + C(TS) + C(GR) + C(RA) + C(DZ) + C(SN) + C(SG) + C(GS) + C(PL) + C(FG2) + C(FG) + C(BR) + C(UP) + C(HZ) + C(FU) + C(DU) + C(SQ) + C(FZ) + C(MI) + C(PR) + C(BC) + C(BL) + C(weekend) + 0" , data = item37)
#model = sm.OLS.from_formula("units ~  date + store_nbr + tmax  + tavg + depart + dewpoint + wetbulb + snowfall + preciptotal + stnpressure + sealevel + avgspeed + resultspeed + resultdir + C(TS) + C(GR) + C(RA) + C(DZ) + C(SN) + C(SG) + C(GS) + C(PL) + C(FG2) + C(FG) + C(BR) + C(UP) + C(HZ) + C(FU) + C(DU) + C(SQ) + C(FZ) + C(MI) + C(PR) + C(BC) + C(BL) + C(weekend) + 0" , data = item37_df)

result1 = model.fit()

NameError: name 'item37_df' is not defined

In [30]:
item37['logunits'] = item37.units.apply(lambda X: np.log(X) + 1)

In [32]:
item37.head()

,date,store_nbr,item_nbr,station_nbr,tmax,tmin,tavg,depart,dewpoint,wetbulb,...,PR,BC,BL,VC,units,week_day_name,day_of_year,year,weekend,logunits
0,2012-01-01,5,37,12,72.0,48.0,60.0,0.00,54.0,57.0,...,False,False,False,False,16.0,Sunday,1,2012,True,3.772589
1,2012-01-01,10,37,12,72.0,48.0,60.0,-0.29,54.0,57.0,...,False,False,False,False,32.0,Sunday,1,2012,True,4.465736
2,2012-01-01,12,37,11,72.0,48.0,60.0,7.00,54.0,56.0,...,False,False,False,False,28.0,Sunday,1,2012,True,4.332205
3,2012-01-01,17,37,20,59.0,41.0,50.0,1.33,28.0,40.0,...,False,False,False,False,85.0,Sunday,1,2012,True,5.442651
4,2012-01-02,5,37,12,65.0,47.0,56.0,-4.43,33.0,46.0,...,False,False,False,False,29.0,Monday,2,2012,False,4.367296

In [ ]:
print(result1.summary())

In [28]:
model = sm.OLS.from_formula("units ~  C(store_nbr) + scale(tmax) + scale(tmin) + scale(tavg) + scale(depart) + scale(dewpoint) + scale(wetbulb) + scale(preciptotal) + scale(stnpressure) + scale(sealevel) + scale(avgspeed) + scale(resultspeed)   + C(weekend) + 0" , data = item37)
model = sm.OLS.from_formula("units ~  date + store_nbr + tmax  + tavg + depart + dewpoint + wetbulb + snowfall + preciptotal + stnpressure + sealevel + avgspeed + resultspeed + resultdir + C(TS) + C(GR) + C(RA) + C(DZ) + C(SN) + C(SG) + C(GS) + C(PL) + C(FG2) + C(FG) + C(BR) + C(UP) + C(HZ) + C(FU) + C(DU) + C(SQ) + C(FZ) + C(MI) + C(PR) + C(BC) + C(BL) + C(weekend) + 0" , data = item37_df)

result1 = model.fit()
print(result1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  units   R-squared:                       0.613
Model:                            OLS   Adj. R-squared:                  0.611
Method:                 Least Squares   F-statistic:                     391.4
Date:                Wed, 04 Jul 2018   Prob (F-statistic):               0.00
Time:                        02:30:22   Log-Likelihood:                -16958.
No. Observations:                4223   AIC:                         3.395e+04
Df Residuals:                    4205   BIC:                         3.407e+04
Df Model:                          17
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(store_nbr)[5]        9.6262      2.515      3.827      0.000       4.695      14.558
C(store_nbr)[10]      13.7370      2.514      5.464      0.000       8.808      18.666
C(store_nbr)[12]      14.6671      2.591      5.660      0.000       9.587      19.747
C(store_nbr)[17]      53.8243      5.120     10.513      0.000      43.787      63.862
C(store_nbr)[18]       7.2197      4.895      1.475      0.140      -2.376      16.816
C(store_nbr)[43]      10.7010      2.584      4.141      0.000       5.634      15.768
C(weekend)[T.True]     4.2845      0.418     10.239      0.000       3.464       5.105
scale(tmax)            3.0588      3.201      0.956      0.339      -3.217       9.335
scale(tmin)            4.1845      3.537      1.183      0.237      -2.749      11.118
scale(tavg)           -3.2742      6.186     -0.529      0.597     -15.402       8.854
scale(depart)          0.5470      0.232      2.361      0.018       0.093       1.001
scale(dewpoint)        2.2614      1.949      1.160      0.246      -1.560       6.083
scale(wetbulb)        -7.7241      3.112     -2.482      0.013     -13.825      -1.623
scale(preciptotal)    -1.1002      0.226     -4.872      0.000      -1.543      -0.657
scale(stnpressure)    -0.8333      4.112     -0.203      0.839      -8.895       7.229
scale(sealevel)        0.5226      1.728      0.302      0.762      -2.865       3.910
scale(avgspeed)       -0.5807      0.617     -0.942      0.346      -1.790       0.628
scale(resultspeed)     0.1224      0.601      0.204      0.839      -1.055       1.300
==============================================================================
Omnibus:                      649.309   Durbin-Watson:                   1.792
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10777.970
Skew:                          -0.092   Prob(JB):                         0.00
Kurtosis:                      10.824   Cond. No.                         108.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [34]:
pickle.dump( item37, open( "item37.p", "wb" ) )

In [33]:
log_model = sm.OLS.from_formula("logunits ~  C(store_nbr) + scale(tmax) + scale(tmin) + scale(tavg) + scale(depart) + scale(dewpoint) + scale(wetbulb) + scale(preciptotal) + scale(stnpressure) + scale(sealevel) + scale(avgspeed) + scale(resultspeed)   + C(weekend) + 0" , data = item37)
#model = sm.OLS.from_formula("units ~  date + store_nbr + tmax  + tavg + depart + dewpoint + wetbulb + snowfall + preciptotal + stnpressure + sealevel + avgspeed + resultspeed + resultdir + C(TS) + C(GR) + C(RA) + C(DZ) + C(SN) + C(SG) + C(GS) + C(PL) + C(FG2) + C(FG) + C(BR) + C(UP) + C(HZ) + C(FU) + C(DU) + C(SQ) + C(FZ) + C(MI) + C(PR) + C(BC) + C(BL) + C(weekend) + 0" , data = item37_df)

log_result1 = log_model.fit()
print(log_result1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               logunits   R-squared:                         nan
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                       nan
Date:                Wed, 04 Jul 2018   Prob (F-statistic):                nan
Time:                        02:34:07   Log-Likelihood:                    nan
No. Observations:                4223   AIC:                               nan
Df Residuals:                    4205   BIC:                               nan
Df Model:                          17
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(store_nbr)[5]           nan        nan        nan        nan         nan         nan
C(store_nbr)[10]          nan        nan        nan        nan         nan         nan
C(store_nbr)[12]          nan        nan        nan        nan         nan         nan
C(store_nbr)[17]          nan        nan        nan        nan         nan         nan
C(store_nbr)[18]          nan        nan        nan        nan         nan         nan
C(store_nbr)[43]          nan        nan        nan        nan         nan         nan
C(weekend)[T.True]        nan        nan        nan        nan         nan         nan
scale(tmax)               nan        nan        nan        nan         nan         nan
scale(tmin)               nan        nan        nan        nan         nan         nan
scale(tavg)               nan        nan        nan        nan         nan         nan
scale(depart)             nan        nan        nan        nan         nan         nan
scale(dewpoint)           nan        nan        nan        nan         nan         nan
scale(wetbulb)            nan        nan        nan        nan         nan         nan
scale(preciptotal)        nan        nan        nan        nan         nan         nan
scale(stnpressure)        nan        nan        nan        nan         nan         nan
scale(sealevel)           nan        nan        nan        nan         nan         nan
scale(avgspeed)           nan        nan        nan        nan         nan         nan
scale(resultspeed)        nan        nan        nan        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                     nan
Prob(Omnibus):                    nan   Jarque-Bera (JB):                  nan
Skew:                             nan   Prob(JB):                          nan
Kurtosis:                         nan   Cond. No.                         108.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\stats.py:1404: RuntimeWarning: invalid value encountered in less
  term2 = np.where(denom < 0, term1, np.power((1-2.0/A)/denom, 1/3.0))
C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1366: RuntimeWarning: invalid value encountered in subtract
  weights=weights))**2)

In [40]:
model2 = sm.OLS.from_formula("units ~  C(store_nbr) + scale(tmax) + scale(tmin) + scale(tavg) + scale(depart) + scale(dewpoint) + scale(wetbulb) + scale(preciptotal) + scale(stnpressure) + scale(sealevel) + scale(avgspeed) + scale(resultspeed) + C(TS) + C(GR) + C(RA) + C(DZ) + C(SN) + C(SG) + C(GS) + C(PL) + C(FG2) + C(FG) + C(BR) + C(UP) + C(HZ) + C(FU) + C(DU) + C(SQ) + C(FZ) + C(MI) + C(PR) + C(BC) + C(BL) + C(weekend) + 0" , data = item37)


result2 = model2.fit()
print(result2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  units   R-squared:                       0.618
Model:                            OLS   Adj. R-squared:                  0.615
Method:                 Least Squares   F-statistic:                     205.6
Date:                Wed, 04 Jul 2018   Prob (F-statistic):               0.00
Time:                        02:49:16   Log-Likelihood:                -16928.
No. Observations:                4223   AIC:                         3.392e+04
Df Residuals:                    4189   BIC:                         3.414e+04
Df Model:                          33
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
C(store_nbr)[5]        9.4828      2.522      3.760      0.000       4.539      14.427
C(store_nbr)[10]      13.6588      2.520      5.420      0.000       8.718      18.600
C(store_nbr)[12]      14.6185      2.598      5.626      0.000       9.524      19.713
C(store_nbr)[17]      52.9035      5.117     10.338      0.000      42.871      62.936
C(store_nbr)[18]       6.3850      4.891      1.305      0.192      -3.204      15.974
C(store_nbr)[43]      10.6748      2.591      4.119      0.000       5.594      15.755
C(TS)[T.True]          0.8716      0.727      1.199      0.230      -0.553       2.296
C(GR)[T.True]      -1.194e-13    3.2e-14     -3.734      0.000   -1.82e-13   -5.67e-14
C(RA)[T.True]          0.5892      0.578      1.019      0.308      -0.545       1.723
C(DZ)[T.True]         -0.3480      2.527     -0.138      0.890      -5.302       4.606
C(SN)[T.True]          9.6129      3.499      2.747      0.006       2.752      16.473
C(SG)[T.True]       4.673e-14   1.21e-14      3.865      0.000     2.3e-14    7.04e-14
C(GS)[T.True]        8.07e-14    1.7e-14      4.749      0.000    4.74e-14    1.14e-13
C(PL)[T.True]      -1.361e-14   4.42e-15     -3.080      0.002   -2.23e-14   -4.95e-15
C(FG2)[T.True]         3.1681      1.221      2.594      0.010       0.774       5.562
C(FG)[T.True]          2.0869      1.279      1.632      0.103      -0.420       4.593
C(BR)[T.True]         -0.5400      0.540     -1.000      0.318      -1.599       0.519
C(UP)[T.True]         -1.4339      4.648     -0.308      0.758     -10.547       7.679
C(HZ)[T.True]         -1.3590      1.098     -1.237      0.216      -3.513       0.795
C(FU)[T.True]          0.2483      3.653      0.068      0.946      -6.913       7.410
C(DU)[T.True]         -1.7410      9.514     -0.183      0.855     -20.393      16.911
C(SQ)[T.True]          0.9659      6.726      0.144      0.886     -12.220      14.152
C(FZ)[T.True]         24.4527      5.121      4.775      0.000      14.414      34.492
C(MI)[T.True]          0.5568      3.449      0.161      0.872      -6.205       7.318
C(PR)[T.True]      -7.664e-15   3.39e-15     -2.262      0.024   -1.43e-14   -1.02e-15
C(BC)[T.True]         -0.9732      3.554     -0.274      0.784      -7.942       5.995
C(BL)[T.True]        -30.8626     14.402     -2.143      0.032     -59.098      -2.628
C(weekend)[T.True]     4.2627      0.418     10.187      0.000       3.442       5.083
scale(tmax)            2.4758      3.194      0.775      0.438      -3.787       8.738
scale(tmin)            3.4028      3.526      0.965      0.335      -3.511      10.317
scale(tavg)           -2.9374      6.161     -0.477      0.634     -15.017       9.142
scale(depart)          0.4858      0.237      2.054      0.040       0.022       0.950
scale(dewpoint)       -0.3136      2.031     -0.154      0.877      -4.296       3.669
scale(wetbulb)        -4.1263      3.167     -1.303      0.193     -10.336       2.083
scale(preciptotal)    -1.2435      0.249     -5.001      0.000      -1.731      -0.756
scale(stnpressure)    -1.2502      4.103     -0.305      0.761      -9.294       6.794
scale(sealevel)        0.6557      1.725      0.380      0.704      -2.725       4.037
scale(avgspeed)       -0.6089      0.627     -0.971      0.331      -1.838       0.620
scale(resultspeed)     0.1482      0.611      0.243      0.808      -1.050       1.346
==============================================================================
Omnibus:                      631.301   Durbin-Watson:                   1.807
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9114.256
Skew:                          -0.178   Prob(JB):                         0.00
Kurtosis:                      10.188   Cond. No.                     1.48e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.01e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.