# nba data 크롤링 하기.

#### 아래 URL의 NBA 데이터를 크롤링하여 판다스 데이터 프레임으로 나타내세요.

http://stats.nba.com/teams/traditional/?sort=GP&dir=-1

1. 크롭 웹 드라이브를 열고 url 입력

In [4]:
from selenium import webdriver

In [5]:
driver = webdriver.Chrome()
driver.get("http://stats.nba.com/teams/traditional/?sort=GP&dir=-1")

1) column 추출
 - xpath를 이용해서 column 추출
 - column list에 append 하여 추가

In [6]:
results = driver.find_elements_by_xpath("/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/thead/tr/th")

column_list= []
for result in results:
    if result.text == '':
        pass
    else:
        column_list.append(result.text)

2) 팀 별 데이터 추출
 - xpath를 이용해 추출 tr/ td의 [n]을 지워주면 모든 테이블 데이터 추출
 - data 리스트에 추출 데이터 추가

In [7]:
results2 = driver.find_elements_by_xpath("/html/body/main/div[2]/div/div[2]/div/div/nba-stat-table/div[2]/div[1]/table/tbody/tr/td")
data = []
for result in results2:
    data.append(result.text)

- 드라이버 종료

In [8]:
driver.quit()

3) data를 np.array로 reshape
 - ! 각 줄에 첫 데이터가 쓸모없는 ' 내용이 들어가 column 수에 +1 을 해주고 추후에 삭제

In [9]:
data_array = np.array(data)
data_array = data_array.reshape(int(len(data)/(len(column_list)+1)), len(column_list)+1)

In [10]:
nba_df = pd.DataFrame(data_array[:,1:] , columns = column_list)

In [11]:
nba_df.head()

,TEAM,GP,W,L,WIN%,MIN,PTS,FGM,FGA,FG%,...,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,+/-
0,Miami Heat,82,44,38,.537,48.6,103.4,38.8,85.3,45.5,...,34.2,43.5,22.7,14.4,7.6,5.3,4.6,20.1,19.4,0.5
1,Atlanta Hawks,82,24,58,.293,48.1,103.4,38.2,85.5,44.6,...,32.8,41.9,23.7,15.6,7.8,4.2,5.5,19.6,20.3,-5.5
2,Brooklyn Nets,82,28,54,.341,48.4,106.6,38.2,86.8,44.1,...,34.8,44.4,23.7,15.2,6.2,4.8,5.5,20.6,19.7,-3.7
3,Charlotte Hornets,82,36,46,.439,48.2,108.2,39.0,86.7,45.0,...,35.4,45.5,21.6,12.7,6.8,4.5,4.9,17.2,22.4,0.3
4,Chicago Bulls,82,27,55,.329,48.4,102.9,38.7,88.8,43.5,...,35.0,44.7,23.5,14.0,7.6,3.5,5.2,19.2,17.4,-7.0